<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' xmlns="http://www.w3.org/1999/html">

<div class="top-bar">
  <header>
    <div class="header">
      <a href="/">
        <img class="headerLogo" src="favicon.ico" alt="logo">
      </a>
      <h1 class="headerTitle">Score</h1>
      <div class="user-box">
        <span class="user-box-username">Ligado como:</span>
        <span class="user-box-profile" title="Guilherme Cunha, A.F. ANGRA HEROÍSMO">{{roles[userData.role - 1]}}
          , {{nomee}} </span>
        <div class="user-box-profile-selector visible">
        <span class="user-box-profile-image" title="Alterar perfil">
            <img src="favicon.ico" title="Guilherme Cunha" class="image-preview-small" onerror="$(this).hide();">
        </span>

          <div class="user-box-profile-container " style="display: none;">
            <div class="user-box-profile-user" data-url="/UserProfile">
              <div class="user-box-profile-user-picture">
                <img src="favicon.ico" title="Guilherme Cunha" class="image-preview">
                <div class="image-preview default-image force-hidden" title="Guilherme Cunha"></div>
              </div>
              <div class="user-box-profile-user-login">
                <span class="user-box-profile-title">Login:  </span>
                <span class="user-box-profile-data" title="Guilherme Cunha">
                       {{roles[userData.role - 1]}}
                    </span>
              </div>
            </div>
            <div class="user-separator"></div>
            <div class="user-box-profile-accounts">
              <div class="user-box-profile-accounts-title">Outras contas</div>
              <ul class="user-box-profile-menu">
                <li class="entity-account managed-entity" data-id="2656">
                  <div class="managed-entity" data-id="2656">
                    <img src="" title="F.C. DA CALHETA" class="image-preview">
                  </div>
                  <div class="image-preview default-image force-hidden managed-entity" title="F.C. DA CALHETA"
                       data-id="2656"></div>
                  <a href="#" class="managed-entity" data-id="2656" title="F.C. DA CALHETA">{{nomee}}</a>
                </li>
              </ul>
            </div>
            <div class="user-separator"></div>
            <a href="/Account/ChangeUserPassword">Alterar password</a>
            <div class="user-separator"></div>
            <a href="/Support">Suporte</a>
            <div class="user-separator"></div>
            <a href="/Manual"> Manuais</a>
            <div class="user-separator"></div>
            <div class="logout">
              <form action="/Account/LogOff" id="logoutForm" method="post"><input name="__RequestVerificationToken"
                                                                                  type="hidden"
                                                                                  value="pCcuH4ztLoMU3zxOfuAnEFA1gyvbF1Ft1NzzQiOQVTerpM0IaCftRGso7iU9xiSUycDQe7zIsrjNbouv_rKhDAmqWkBgcXFGlYMUltDi2fCMHqIU3JCq00Luowyx-Jhl0">
                <div class="logout-container">
                  <button class="ui-cst-button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                          id="btnLogout" name="btnLogout" type="submit" role="button"><span class="ui-button-text">Logout</span>
                  </button>
                  <div class="ui-cst-icon ui-cst-icon-turn-off"></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>


  <nav>
    <div class="navigation-container">
      <ul class="ui-cst-navigation first-level">
        <li class="vertical-menu">
          <a class="menu-link " data-badge-url=""
             [routerLink]="['/home']">Início</a>
        </li>
        <li class="vertical-menu">
          <a class="menu-link " data-badge-url="">Equipas</a>
        </li>
        <li class="vertical-menu">
          <a class="menu-link " data-badge-url="" [routerLink]="['/inscricaoProvisoriaClubeJogador']">Registar</a>
        </li>
        <li class="vertical-menu">
          <a class="menu-link " data-badge-url="">Jogadores</a>
        </li>
        <li class="vertical-menu">
          <a [routerLink]="['/processoInscricao']">Processos</a>
        </li>
        <li class="vertical-menu">
          <a class="menu-link " data-badge-url="">Listagens</a>
        </li>
        <li class="vertical-menu">
          <a class="menu-link " data-badge-url="" >Notificação documentos</a>
        </li>
        <li class="vertical-menu">
          <a class="menu-link " data-badge-url="">Carregamento fotografias</a>
        </li>
        <li class="vertical-menu">
          <a class="menu-link " data-badge-url="">Futebol Praia</a>
        </li>
        <li class="vertical-menu">
          <a class="menu-link " data-badge-url="">Walking Football</a>
        </li>
      </ul>
      <div class="module-area ">
        <button type="button" class="module-button ui-cst-misc-icon"></button>
        <div class="module-menu-container" id="moduleMenuContainer" style="width: 1280px; height: 96px;">
          <div
            style="position: absolute; top: 0px; left: 0px; width: 1280px; height: 96px; transform-origin: 0px 0px; transform: scale(1);">
            <div class="module-menu-container " style="position: relative; top: 0px; left: 0px; overflow: visible;">
              <div u="slides" class="module-menu-slides" style="z-index: 0; position: absolute;">
                <div style="position: absolute; z-index: 0; left: 0px; top: 0px;">
                  <div style="position: absolute; z-index: 0; left: 0px; top: 0px;"></div>
                </div>
                <div u="slides" class="module-menu-slides" style="z-index: 0; position: absolute; overflow: hidden;">
                  <div
                    style="width: 106px; height: 96px; top: 0px; left: 0px; position: absolute; background-color: rgb(0, 0, 0); opacity: 0;"></div>

                </div>
                <span u="arrowleft" class="jssora03l"></span>
                <span u="arrowright" class="jssora03r"></span>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </nav>
</div>

<div class="body">
  <section>
    <div class="content-container">
      <header>
        <h2>Processos</h2>
      </header>
      <div class="content scoreTable">

        <div class="ui-cst-tabs content ui-tabs ui-widget ui-widget-content ui-corner-all">
          <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
            <li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active" role="tab" tabindex="0"
                aria-controls="tabs-1" aria-labelledby="ui-id-1" aria-selected="true" aria-expanded="true"><a
              href="#tabs-1" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1">Pendentes</a></li>
            <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-1"
                aria-labelledby="ui-id-2" aria-selected="false" aria-expanded="false"><a href="#tabs-1"
                                                                                         class="ui-tabs-anchor"
                                                                                         role="presentation"
                                                                                         tabindex="-1" id="ui-id-2">Pendentes
              CF</a></li>
            <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-1"
                aria-labelledby="ui-id-3" aria-selected="false" aria-expanded="false"><a href="#tabs-1"
                                                                                         class="ui-tabs-anchor"
                                                                                         role="presentation"
                                                                                         tabindex="-1" id="ui-id-3">Pendentes
              Profissionais</a></li>
            <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-1"
                aria-labelledby="ui-id-4" aria-selected="false" aria-expanded="false"><a href="#tabs-1"
                                                                                         class="ui-tabs-anchor"
                                                                                         role="presentation"
                                                                                         tabindex="-1" id="ui-id-4">Pendente
              Documentos CIT</a></li>
            <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-1"
                aria-labelledby="ui-id-5" aria-selected="false" aria-expanded="false"><a href="#tabs-1"
                                                                                         class="ui-tabs-anchor"
                                                                                         class="ui-tabs-anchor"
                                                                                         role="presentation"
                                                                                         tabindex="-1" id="ui-id-5">Menores
              FIFA</a></li>
            <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-1"
                aria-labelledby="ui-id-6" aria-selected="false" aria-expanded="false"><a href="#tabs-1"
                                                                                         class="ui-tabs-anchor"
                                                                                         role="presentation"
                                                                                         tabindex="-1" id="ui-id-6">Todos</a>
            </li>

          </ul>
          <div id="tabs-1" class="tabPanel content scoreTable ui-tabs-panel ui-widget-content ui-corner-bottom"
               aria-labelledby="ui-id-6" role="tabpanel" aria-hidden="false">
            <div id="processGrid_wrapper" class="dataTables_wrapper no-footer">
              <table id="processGrid" class="dataTable no-footer" role="grid">
                <thead>
                <tr role="row">
                  <th class="sorting_disabled" tabindex="0" aria-controls="processGrid" rowspan="1" colspan="1"
                      aria-sort="ascending" aria-label="N&amp;#186; proc.: activate to sort column descending"
                      style="width: 85px;">Nº proc.
                  </th>
                  <th class="sorting_disabled"  rowspan="1" colspan="1"
                      aria-label="Nome: activate to sort column ascending" style="width: 155px;">Nome
                  </th>
                  <th class="sorting_disabled" tabindex="0" aria-controls="processGrid" rowspan="1" colspan="1"
                      aria-label="Licen&amp;#231;a: activate to sort column ascending">Licença
                  </th>
                  <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Processo">Processo</th>
                  <th class="sorting_disabled" tabindex="0" aria-controls="processGrid" rowspan="1" colspan="1"
                      aria-label="Clube: activate to sort column ascending" style="width: 150px;">Clube
                  </th>
                  <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="TPF" style="width: 75px;">TPF</th>
                  <th class="sorting_disables" tabindex="0" aria-controls="processGrid" rowspan="1" colspan="1"
                      aria-label="Categoria: activate to sort column ascending" style="width: 75px;">Categoria
                  </th>
                  <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Divis&amp;#227;o"
                      style="width: 75px;">Divisão
                  </th>
                  <th class="sorting_disabled" tabindex="0" aria-controls="processGrid" rowspan="1" colspan="1"
                      aria-label="Classe: activate to sort column ascending" style="width: 70px;">Classe
                  </th>
                  <th class="sorting_disabled" tabindex="0" aria-controls="processGrid" rowspan="1"
                      colspan="1" aria-label="Data cria&amp;#231;&amp;#227;o: activate to sort column ascending"
                      style="width: 125px;">Data criação
                  </th>
                  <th class="sorting_disabled" tabindex="0" aria-controls="processGrid" rowspan="1"
                      colspan="1" aria-label="Data inscri&amp;#231;&amp;#227;o: activate to sort column ascending"
                      style="width: 125px;">Data inscrição
                  </th>
                  <th class="sorting_disabled" tabindex="0" aria-label="Estado" style="width: 150px;">
                    Estado
                  </th>
                  <th class="sorting_disabled" tabindex="0" aria-label="Estado">
                    Aprovar
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr
                  *ngFor="let delivery of processos | paginate: { itemsPerPage: itensPorPagina, currentPage: paginaAtual }">
                  <td>{{delivery.nprocesso}}</td>
                  <td>{{delivery.nome}}</td>
                  <td>{{delivery.licenca}}</td>
                  <td>{{delivery.nomeProcesso}}</td>
                  <td>{{delivery.clube}}</td>
                  <td>{{delivery.tipoFutebol}}</td>
                  <td>{{delivery.categoria}}</td>
                  <td>{{delivery.divisao}}</td>
                  <td>{{delivery.classe}}</td>
                  <td>{{delivery.dataSubs}}</td>
                  <td>{{delivery.dataRegisto}}</td>
                  <td>{{delivery.estado}}</td>
                  <td>               <button
                    class="grid-search-button ui-cst-button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                    id="btnSearc1h" name="btnSearch" type="button" (click)="getLicenca(delivery.licenca,delivery.nprocesso,delivery.nomeProcesso,delivery.nome,delivery.tipoFutebol,delivery.categoria,delivery.divisao,delivery.classe,delivery.dataSubs,delivery.dataRegisto,delivery.estado,delivery.clube)" role="button" [routerLink]="['/detalheProcesso']"><span class="ui-button-text">+</span>
                  </button></td>
                </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="paginaAtual = $event"></pagination-controls>
              <div class="dataTables_paginate paging_full_numbers" id="processGrid_paginate"><a
                class="paginate_button first disabled" aria-controls="processGrid" data-dt-idx="0" tabindex="0"
                id="processGrid_first">Primeiro</a><a class="paginate_button previous disabled"
                                                      aria-controls="processGrid" data-dt-idx="1" tabindex="0"
                                                      id="processGrid_previous">Anterior</a><span></span><a
                class="paginate_button next disabled" aria-controls="processGrid" data-dt-idx="2" tabindex="0"
                id="processGrid_next" >Seguinte</a><a class="paginate_button last disabled" aria-controls="processGrid"
                                                     data-dt-idx="3" tabindex="0" id="processGrid_last">Último</a></div>
            </div>
            <div id="pagerNoData" class="noData hidden">Não existem dados.</div>
            <div id="pagerException" class="noData hidden">Erro a obter dados.</div>
            <div class="form-buttons-panel">
              <button
                class="hidden ui-cst-button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                id="btnDelete" name="btnDelete" type="button" role="button"><span class="ui-button-text">Eliminar</span>
              </button>
              <button
                class="hidden ui-cst-button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                id="btnReject" name="btnReject" type="button" role="button"><span class="ui-button-text">Rejeitar</span>
              </button>
              <button
                class="hidden ui-cst-button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                id="btnApprove" name="btnApprove" type="button" role="button"><span
                class="ui-button-text">Aprovar</span></button>
            </div>
          </div>
        </div>

      </div>
    </div>

  </section>
</div>



