<nav>
  <div class="navigation-container">
    <ul class="ui-cst-navigation first-level">
      <li class="vertical-menu">
        <a class="menu-link " data-badge-url="" href="/InscricaoClubes/Club"
           onclick="return loadWindow('/InscricaoClubes/Club');">Início</a>
      </li>
      <li class="vertical-menu">
        <a class="menu-link " data-badge-url="" href="/InscricaoClubes/Club/Filiation"
           onclick="return loadWindow('/InscricaoClubes/Club/Filiation');">Filiação</a>
      </li>
      <li class="vertical-menu">
        <a class="menu-link " data-badge-url="" href="/InscricaoClubes/Team"
           onclick="return loadWindow('/InscricaoClubes/Team');">Inscrição de equipas</a>
      </li>
      <li class="vertical-menu">
        <a class="menu-link " data-badge-url="" href="/InscricaoClubes/Club/Create"
           onclick="return loadWindow('/InscricaoClubes/Club/Create');">Criação</a>
      </li>
      <li class="vertical-menu">
        <a class="menu-link " data-badge-url="" href="/InscricaoClubes/Club/Edit"
           onclick="return loadWindow('/InscricaoClubes/Club/Edit');">Edição</a>
      </li>
      <li class="vertical-menu">
        <a class="menu-link " data-badge-url="" href="/InscricaoClubes/Process"
           onclick="return loadWindow('/InscricaoClubes/Process');">Processos</a>
      </li>
      <li class="vertical-menu">
        <a class="menu-link " data-badge-url="" href="/InscricaoClubes/Club/ClubContactDetail"
           onclick="return loadWindow('/InscricaoClubes/Club/ClubContactDetail');">Contatos do clube</a>
      </li>
      <li class="vertical-menu">
        <a class="menu-link " data-badge-url="" href="/InscricaoClubes/VemJogar"
           onclick="return loadWindow('/InscricaoClubes/VemJogar');">Vem Jogar</a>
      </li>
    </ul>
    <div class="module-area ">
      <button type="button" class="module-button ui-cst-misc-icon"></button>
      <div class="module-menu-container" id="moduleMenuContainer" style="width: 1280px; height: 96px;">
        <div
          style="position: absolute; top: 0px; left: 0px; width: 1280px; height: 96px; transform-origin: 0px 0px; transform: scale(1);">
          <div class="module-menu-container " style="position: relative; top: 0px; left: 0px; overflow: visible;">
            <div u="slides" class="module-menu-slides" style="z-index: 0; position: absolute;">
              <div style="position: absolute; z-index: 0; left: 0px; top: 0px;">
                <div style="position: absolute; z-index: 0; left: 0px; top: 0px;"></div>
              </div>
              <div u="slides" class="module-menu-slides" style="z-index: 0; position: absolute; overflow: hidden;">
                <div
                  style="width: 106px; height: 96px; top: 0px; left: 0px; position: absolute; background-color: rgb(0, 0, 0); opacity: 0;"></div>

              </div>
              <span u="arrowleft" class="jssora03l"></span>
              <span u="arrowright" class="jssora03r"></span>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</nav>
<p>

<div class="body">
  <section>
    <div class="content-container">
      <header>
        <h2>Processos</h2>
      </header>
      <div class="content scoreTable">
        <div class="grid-search-panel">
          <div class="grid-search-fields-wrapper">
              <span class="form-field-row">
                <label>Época:</label>
                <span class="form-field-wrapper">
                  <div class="select2-container ui-cst-dropdown field-container">

                  </div>
                </span>
              </span>
            <span class="form-field-row">
                <label>Associação:</label>
                <span class="form-field-wrapper">
                  <div class="select2-container ui-cst-dropdown field-container">

                  </div>
                </span>
              </span>
            <span class="form-field-row">
                <label>Clube:</label>
                <span class="form-field-wrapper">
                  <div class="select2-container ui-cst-dropdown field-container">

                  </div>
                </span>
              </span>
            <span class="form-field-row">
                <label>Tipo processo:</label>
                <span class="form-field-wrapper">
                  <div class="select2-container ui-cst-dropdown field-container">

                  </div>
                </span>
              </span>

            <span class="form-field-row">
                <label>Categoria:</label>
                <span class="form-field-wrapper">
                  <div class="select2-container ui-cst-dropdown field-container">

                  </div>
                </span>
              </span>

            <span class="form-field-row">
                <label>Estatuto FPF:</label>
                <span class="form-field-wrapper">
                  <div class="select2-container ui-cst-dropdown field-container">

                  </div>
                </span>
              </span>

            <span class="form-field-row">
                <label>Nº de licenca:</label>
                <span class="form-field-wrapper">
                 <input class="text-box single-line" data-val="true" data-val-number="The field Nº de licença: must be a number." data-val-regex="Número de Licença não é válido." data-val-regex-pattern="^[0-9]+(\.[0-9]+)?$" id="LicenseNumber" name="LicenseNumber" type="number" value="">
                </span>
              </span>

            <span class="form-field-row">
                <label>Nº de processo:</label>
                <span class="form-field-wrapper">
                  <div class="select2-container ui-cst-dropdown field-container">

                  </div>
                </span>
              </span>

            <span class="form-field-row">
                <label>Nome:</label>
                <span class="form-field-wrapper">
                 <div class="field-container ui-cst-textbox" data-password="0" data-widget="false" id="FullName_container" name="FullName.container"><input class="ui-cst-textbox-input" id="FullName" name="FullName" type="text"></div>
                </span>
              </span>

            <span class="form-field-row">
                <label>Divisão:</label>
                <span class="form-field-wrapper">
                  <div class="select2-container ui-cst-dropdown field-container">

                  </div>
                </span>
              </span>

            <span class="form-field-row">
                <label>De:</label>
                <span class="form-field-wrapper">
                  <div class="select2-container ui-cst-dropdown field-container">

                  </div>
                </span>
              </span>

            <span class="form-field-row">
                <label>Até</label>
                <span class="form-field-wrapper">
                  <div class="select2-container ui-cst-dropdown field-container">

                  </div>
                </span>
              </span>

            <span class="form-field-row">
                    <label for="Urgent">Urgente:</label>
                    <span class="form-field-wrapper">
                        <input class="check-box" data-val="true" data-val-required="The Urgente: field is required."
                               id="Urgent" name="Urgent" type="checkbox" value="true"><input name="Urgent" type="hidden"
                                                                                             value="false">
                    </span>
                </span>

            <span class="form-field-row">
                    <label for="YouthContract">Contrato formação:</label>
                    <span class="form-field-wrapper">
                        <input class="check-box" data-val="true"
                               data-val-required="The Contrato formação: field is required." id="YouthContract"
                               name="YouthContract" type="checkbox" value="true"><input name="YouthContract"
                                                                                        type="hidden" value="false">
                    </span>
                </span>

            <span class="form-field-row">
                    <label>Modalidade:</label>
                    <span class="form-field-wrapper">


                    </span>
                </span>

            <span class="form-field-row">
                    <label for="HasPriorTransferAgreement">Inscrição antecedida de acordo de transferência:</label>
                    <span class="form-field-wrapper">
                        <input class="check-box" data-val="true"
                               data-val-required="The Inscrição antecedida de acordo de transferência: field is required."
                               id="HasPriorTransferAgreement" name="HasPriorTransferAgreement" type="checkbox"
                               value="true"><input name="HasPriorTransferAgreement" type="hidden" value="false">
                    </span>
                </span>

            <div class="form-buttons-panel">
              <button
                class="grid-search-button ui-cst-button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                id="btnSearch" name="btnSearch" type="button" role="button"><span class="ui-button-text">Pesquisa</span>
              </button>
            </div>

          </div>

        </div>

        <div class="ui-cst-tabs content ui-tabs ui-widget ui-widget-content ui-corner-all">
          <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
            <li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active" role="tab" tabindex="0"
                aria-controls="tabs-1" aria-labelledby="ui-id-1" aria-selected="true" aria-expanded="true"><a
              href="#tabs-1" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1">Pendentes</a></li>
            <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-1"
                aria-labelledby="ui-id-2" aria-selected="false" aria-expanded="false"><a href="#tabs-1"
                                                                                         class="ui-tabs-anchor"
                                                                                         role="presentation"
                                                                                         tabindex="-1" id="ui-id-2">Pendentes
              CF</a></li>
            <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-1"
                aria-labelledby="ui-id-3" aria-selected="false" aria-expanded="false"><a href="#tabs-1"
                                                                                         class="ui-tabs-anchor"
                                                                                         role="presentation"
                                                                                         tabindex="-1" id="ui-id-3">Pendentes
              Profissionais</a></li>
            <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-1"
                aria-labelledby="ui-id-4" aria-selected="false" aria-expanded="false"><a href="#tabs-1"
                                                                                         class="ui-tabs-anchor"
                                                                                         role="presentation"
                                                                                         tabindex="-1" id="ui-id-4">Pendente
              Documentos CIT</a></li>
            <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-1"
                aria-labelledby="ui-id-5" aria-selected="false" aria-expanded="false"><a href="#tabs-1"
                                                                                         class="ui-tabs-anchor"
                                                                                         role="presentation"
                                                                                         tabindex="-1" id="ui-id-5">Menores
              FIFA</a></li>
            <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-1"
                aria-labelledby="ui-id-6" aria-selected="false" aria-expanded="false"><a href="#tabs-1"
                                                                                         class="ui-tabs-anchor"
                                                                                         role="presentation"
                                                                                         tabindex="-1" id="ui-id-6">Todos</a>
            </li>

          </ul>
          <div id="tabs-1" class="tabPanel content scoreTable ui-tabs-panel ui-widget-content ui-corner-bottom"
               aria-labelledby="ui-id-6" role="tabpanel" aria-hidden="false">
            <div id="processGrid_wrapper" class="dataTables_wrapper no-footer">
              <table id="processGrid" class="dataTable no-footer" role="grid">
                <thead>
                <tr role="row">
                  <th class="sorting_disabled" tabindex="0" aria-controls="processGrid" rowspan="1" colspan="1"
                      aria-sort="ascending" aria-label="N&amp;#186; proc.: activate to sort column descending"
                      style="width: 85px;">Nº proc.
                  </th>
                  <th class="sorting_disabled"  rowspan="1" colspan="1"
                      aria-label="Nome: activate to sort column ascending" style="width: 155px;">Nome
                  </th>
                  <th class="sorting_disabled" tabindex="0" aria-controls="processGrid" rowspan="1" colspan="1"
                      aria-label="Licen&amp;#231;a: activate to sort column ascending">Licença
                  </th>
                  <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Processo">Processo</th>
                  <th class="sorting_disabled" tabindex="0" aria-controls="processGrid" rowspan="1" colspan="1"
                      aria-label="Clube: activate to sort column ascending" style="width: 150px;">Clube
                  </th>
                  <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="TPF" style="width: 75px;">TPF</th>
                  <th class="sorting_disables" tabindex="0" aria-controls="processGrid" rowspan="1" colspan="1"
                      aria-label="Categoria: activate to sort column ascending" style="width: 75px;">Categoria
                  </th>
                  <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Divis&amp;#227;o"
                      style="width: 75px;">Divisão
                  </th>
                  <th class="sorting_disabled" tabindex="0" aria-controls="processGrid" rowspan="1" colspan="1"
                      aria-label="Classe: activate to sort column ascending" style="width: 70px;">Classe
                  </th>
                  <th class="sorting_disabled" tabindex="0" aria-controls="processGrid" rowspan="1"
                      colspan="1" aria-label="Data cria&amp;#231;&amp;#227;o: activate to sort column ascending"
                      style="width: 125px;">Data criação
                  </th>
                  <th class="sorting_disabled" tabindex="0" aria-controls="processGrid" rowspan="1"
                      colspan="1" aria-label="Data inscri&amp;#231;&amp;#227;o: activate to sort column ascending"
                      style="width: 125px;">Data inscrição
                  </th>
                  <th class="sorting_disabled" tabindex="0" aria-label="Estado" style="width: 150px;">
                    Estado
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr
                  *ngFor="let delivery of processos | paginate: { itemsPerPage: itensPorPagina, currentPage: paginaAtual }">
                  <td>{{delivery.nprocesso}}</td>
                  <td>{{delivery.nome}}</td>
                  <td>{{delivery.licenca}}</td>
                  <td>{{delivery.nomeProcesso}}</td>
                  <td>{{delivery.clube}}</td>
                  <td>{{delivery.tipoFutebol}}</td>
                  <td>{{delivery.categoria}}</td>
                  <td>{{delivery.divisao}}</td>
                  <td>{{delivery.classe}}</td>
                  <td>{{delivery.dataSubs}}</td>
                  <td>{{delivery.dataRegisto}}</td>
                  <td>{{delivery.estado}}</td>
                </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="paginaAtual = $event"></pagination-controls>
              <div class="dataTables_paginate paging_full_numbers" id="processGrid_paginate"><a
                class="paginate_button first disabled" aria-controls="processGrid" data-dt-idx="0" tabindex="0"
                id="processGrid_first">Primeiro</a><a class="paginate_button previous disabled"
                                                      aria-controls="processGrid" data-dt-idx="1" tabindex="0"
                                                      id="processGrid_previous">Anterior</a><span></span><a
                class="paginate_button next disabled" aria-controls="processGrid" data-dt-idx="2" tabindex="0"
                id="processGrid_next" >Seguinte</a><a class="paginate_button last disabled" aria-controls="processGrid"
                                                     data-dt-idx="3" tabindex="0" id="processGrid_last">Último</a></div>
            </div>
            <div id="pagerNoData" class="noData hidden">Não existem dados.</div>
            <div id="pagerException" class="noData hidden">Erro a obter dados.</div>
            <div class="form-buttons-panel">
              <button
                class="hidden ui-cst-button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                id="btnDelete" name="btnDelete" type="button" role="button"><span class="ui-button-text">Eliminar</span>
              </button>
              <button
                class="hidden ui-cst-button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                id="btnReject" name="btnReject" type="button" role="button"><span class="ui-button-text">Rejeitar</span>
              </button>
              <button
                class="hidden ui-cst-button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                id="btnApprove" name="btnApprove" type="button" role="button"><span
                class="ui-button-text">Aprovar</span></button>
            </div>
          </div>
        </div>

      </div>
    </div>

  </section>
</div>



