<html lang="pt" >
<head>
  <meta charset="UTF-8">
  <title>Score</title>
  <script src="https://use.fontawesome.com/releases/v5.7.1/all.css" crossorigin="anonymous"></script>
</head>
<div class="bg-img">

  <router-outlet></router-outlet>
  <app-messages></app-messages>
  <div id="FpfLoadingDiv" class="loadingBackground" style="display: none;">
    <div class="loadingImage">
      <img src="favicon.ico" alt="" title="" style="margin-right: 5px;">
      <br>
      <br>
      <span class="loadingText">Por favor, aguarde.</span>
    </div>
  </div>
</div>



</html>



