<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' xmlns="http://www.w3.org/1999/html">


<div class="top-bar">
  <header>
    <div class="header">
      <a href="/">
        <img class="headerLogo" src="favicon.ico" alt="logo">
      </a>
      <h1 class="headerTitle">Score</h1>
      <div class="user-box">
        <span class="user-box-username">Ligado como:</span>
        <span class="user-box-profile" title="Guilherme Cunha, A.F. ANGRA HEROÍSMO">{{roles[userData.role - 1]}}
          , {{nomee}} </span>
        <div class="user-box-profile-selector visible">
        <span class="user-box-profile-image" title="Alterar perfil">
            <img src="favicon.ico" title="Guilherme Cunha" class="image-preview-small" onerror="$(this).hide();">
        </span>

          <div class="user-box-profile-container " style="display: none;">
            <div class="user-box-profile-user" data-url="/UserProfile">
              <div class="user-box-profile-user-picture">
                <img src="favicon.ico" title="Guilherme Cunha" class="image-preview">
                <div class="image-preview default-image force-hidden" title="Guilherme Cunha"></div>
              </div>
              <div class="user-box-profile-user-login">
                <span class="user-box-profile-title">Login:  </span>
                <span class="user-box-profile-data" title="Guilherme Cunha">
                       {{roles[userData.role - 1]}}
                    </span>
              </div>
            </div>
            <div class="user-separator"></div>
            <div class="user-box-profile-accounts">
              <div class="user-box-profile-accounts-title">Outras contas</div>
              <ul class="user-box-profile-menu">
                <li class="entity-account managed-entity" data-id="2656">
                  <div class="managed-entity" data-id="2656">
                    <img src="" title="F.C. DA CALHETA" class="image-preview">
                  </div>
                  <div class="image-preview default-image force-hidden managed-entity" title="F.C. DA CALHETA"
                       data-id="2656"></div>
                  <a href="#" class="managed-entity" data-id="2656" title="F.C. DA CALHETA">{{nomee}}</a>
                </li>
              </ul>
            </div>
            <div class="user-separator"></div>
            <a href="/Account/ChangeUserPassword">Alterar password</a>
            <div class="user-separator"></div>
            <a href="/Support">Suporte</a>
            <div class="user-separator"></div>
            <a href="/Manual"> Manuais</a>
            <div class="user-separator"></div>
            <div class="logout">
              <form action="/Account/LogOff" id="logoutForm" method="post"><input name="__RequestVerificationToken"
                                                                                  type="hidden"
                                                                                  value="pCcuH4ztLoMU3zxOfuAnEFA1gyvbF1Ft1NzzQiOQVTerpM0IaCftRGso7iU9xiSUycDQe7zIsrjNbouv_rKhDAmqWkBgcXFGlYMUltDi2fCMHqIU3JCq00Luowyx-Jhl0">
                <div class="logout-container">
                  <button class="ui-cst-button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                          id="btnLogout" name="btnLogout" type="submit" role="button"><span class="ui-button-text">Logout</span>
                  </button>
                  <div class="ui-cst-icon ui-cst-icon-turn-off"></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>


  <nav>
    <div class="navigation-container">
      <ul class="ui-cst-navigation first-level">
        <li class="vertical-menu">
          <a class="menu-link " data-badge-url=""
             [routerLink]="['/home']">Início</a>
        </li>
        <li class="vertical-menu">
          <a class="menu-link " data-badge-url="">Equipas</a>
        </li>
        <li class="vertical-menu">
          <a class="menu-link " data-badge-url="" [routerLink]="['/inscricaoProvisoriaClubeJogador']">Registar</a>
        </li>
        <li class="vertical-menu">
          <a class="menu-link " data-badge-url="" [routerLink]="['/consultarJogador']">Jogadores</a>
        </li>
        <li class="vertical-menu">
          <a class="menu-link " data-badge-url="" [routerLink]="['/processoInscricao']">Processos</a>
        </li>
        <li class="vertical-menu">
          <a class="menu-link " data-badge-url="">Modelo2</a>
        </li>
        <li class="vertical-menu">
          <a class="menu-link " data-badge-url="">Futebol Praia</a>
        </li>
        <li class="vertical-menu">
          <a class="menu-link " data-badge-url="">FCH</a>
        </li>
      </ul>
      <div class="module-area ">
        <button type="button" class="module-button ui-cst-misc-icon"></button>
        <div class="module-menu-container" id="moduleMenuContainer" style="width: 1280px; height: 96px;">
          <div
            style="position: absolute; top: 0px; left: 0px; width: 1280px; height: 96px; transform-origin: 0px 0px; transform: scale(1);">
            <div class="module-menu-container " style="position: relative; top: 0px; left: 0px; overflow: visible;">
              <div u="slides" class="module-menu-slides" style="z-index: 0; position: absolute;">
                <div style="position: absolute; z-index: 0; left: 0px; top: 0px;">
                  <div style="position: absolute; z-index: 0; left: 0px; top: 0px;"></div>
                </div>
                <div u="slides" class="module-menu-slides" style="z-index: 0; position: absolute; overflow: hidden;">
                  <div
                    style="width: 106px; height: 96px; top: 0px; left: 0px; position: absolute; background-color: rgb(0, 0, 0); opacity: 0;"></div>

                </div>
                <span u="arrowleft" class="jssora03l"></span>
                <span u="arrowright" class="jssora03r"></span>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </nav>
  <p>

  <div class="body">

    <section>
      <div class="content-container">
        <header style="margin-top: 14px;">
          <h2 style="margin-top: 12px;">Nova 1ª inscrição de amadores</h2>
        </header>

        <div class="content form">

          <ul class="wizard-steps-bar">
            <li>

              <div class="wizard-step wizard-step-visited" data-stepnumber="1">
    <span class="wizard-step-content" data-stepnumber="1">
        <span class="wizard-step-number" id="wizard_step_1">1</span>
        <label class="wizard-step-desc" style="color: rgb(0, 0, 0);">Novo Jogador</label>
    </span>
              </div>
            </li>
            <li>

              <div class="wizard-step wizard-step-active" data-stepnumber="2">
    <span class="wizard-step-content" data-stepnumber="2">
        <span class="wizard-step-number" id="wizard_step_2">2</span>
        <label class="wizard-step-desc" style="color: rgb(0, 0, 0);">Inscrição</label>
    </span>
              </div>
            </li>
            <li>

              <div class="wizard-step" data-stepnumber="3">
    <span class="wizard-step-content" data-stepnumber="3">
        <span class="wizard-step-number" id="wizard_step_3">3</span>
        <label class="wizard-step-desc">Documentos</label>
    </span>
              </div>
            </li>
            <li>

              <div class="wizard-step" data-stepnumber="4">
    <span class="wizard-step-content" data-stepnumber="4">
        <span class="wizard-step-number" id="wizard_step_4">4</span>
        <label class="wizard-step-desc">Resumo</label>
    </span>
              </div>

            </li>
          </ul>

          <div id="wizardBody" class="scoreForm">
            <div class="form-field-zone">
              <div class="form-field-row  mandatory-field">
                <label for="Name" style="width: 250px">Nome:</label>

                <div class="field-container ui-cst-textbox" data-password="0" data-widget="false" id="Name_container"
                     name="Name.container">
                  <input class="ui-cst-textbox-input" id="Name" name="Nme" type="text" [(ngModel)]="nome" disabled=""
                         readonly>
                </div>
              </div>

              <div class="form-field-row quarter-width  mandatory-field">
                <label>Data de inscrição na associação:</label>
                <div class="field-container ui-cst-textbox" data-password="0" data-widget="false" id="validadeDoc1"
                     name="validadeDoc.container" style="height: 23px;">
                  <input id="validadeDoc" name="validadeDoc" style="width: 200px " type="text"
                         disabled="" [(ngModel)]="data">
                </div>
              </div>

              <div class="form-field-row quarter-width">
                <label>Nº ordem:</label>

                <div class="field-container ui-cst-textbox" data-password="0" data-widget="false"
                     id="nrIdentificacao111"
                     name="nrIdentificacao.container">
                  <input class="ui-cst-textbox-input" id="nrIdentificacao" style="width: 200px" name="nrIdentificacao"
                         type="text" [(ngModel)]="nrOrdem">
                </div>
              </div>


              <div class="form-field-row quarter-width mandatory-field">
                <label>Categoria:</label>
                <div class="field-container ui-cst-textbox" data-password="0" data-widget="false" id="Nif1"
                     name="categoria.container">
                  <input class="ui-cst-textbox-input" id="Nif" style="width: 200px" name="Nif" type="text"
                         disabled="" [(ngModel)]="categoria" readonly>
                </div>
              </div>

              <div class="form-field-row quarter-width  mandatory-field" style="margin-bottom: 3px">
                <label>Data exame médico:</label>
                <input id="dataExameMedico" name="dataExameMedico" style="width: 200px"
                       type="text"
                       [matDatepicker]="picker1" class="" [(ngModel)]="dataExame">

                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </div>

              <div class="form-field-row quarter-width  mandatory-field" style="margin-bottom: 3px">
                <label>Data validade exame médico:</label>
                <input id="dataValidadeExameMedico" name="dataValidadeExameMedico"
                       style="width: 200px"
                       type="text" [(ngModel)]="validadeExame"
                       [matDatepicker]="picker2" class="">

                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </div>

              <div class="form-field-row quarter-width">
                <label>Aptidão superior:</label>
                <select required style="width: 200px; font-size: 10px;" [(ngModel)]="aptidao">
                  <option>Selecione...</option>
                  <option value="Veterano" style="font-size: 10px;">Veterano</option>
                  <option value="Sénior" style="font-size: 10px;">Sénior</option>
                  <option value="JúniorA" style="font-size: 10px;">JúniorA</option>
                  <option value="JúniorB" style="font-size: 10px;">JúniorB</option>
                  <option value="JúniorC" style="font-size: 10px;">JúniorC</option>
                  <option value="JúniorD" style="font-size: 10px;">JúniorD</option>
                  <option value="Benjamim" style="font-size: 10px;">Benjamim</option>
                  <option value="Traquina" style="font-size: 10px;">Traquina</option>
                </select>
              </div>

              <div class="form-field-row field-validation-valid">
                <label for="UrgentEnroll">Inscrição urgente:</label>
                <input class="check-box" data-val="true" data-val-required="The Inscrição urgente: field is required."
                       id="UrgentEnroll" name="UrgentEnroll" type="checkbox" value="true"><input name="UrgentEnroll"
                                                                                                 type="hidden"
                                                                                                 value="false">
              </div>

              <div class="form-field-row">
                <label for="InternationalTransfer">Transferência internacional:</label>


                <div class="field-container ui-cst-checkbox"><input class="ui-cst-checkbox-input" disabled="disabled"
                                                                    name="InternationalTransfer.chk"
                                                                    readonly="readonly"
                                                                    type="checkbox"><input
                  class="ui-cst-checkbox-value"
                  id="InternationalTransfer"
                  name="InternationalTransfer"
                  type="hidden" value="false">
                </div>

              </div>

              <div class="form-field-row">
                <label for="TrainingContract">Contrato de formação:</label>
                <input class="check-box" data-val="true"
                       data-val-required="The Contrato de formação: field is required."
                       id="TrainingContract" name="TrainingContract" type="checkbox" value="true"><input
                name="TrainingContract" type="hidden" value="false">
              </div>

              <div class="form-field-row quarter-width  mandatory-field">
                <label>Clube:</label>
                <select style="width: 200px; font-size: 10px;" [(ngModel)]="nomeClube" placeholder="Selecione...">
                  <option *ngFor="let item of clubes" [value]="nomeClube"
                          style="font-size: 10px;">{{ item.nomeClube }}</option>
                </select>
              </div>

              <div class="form-field-row quarter-width mandatory-field">
                <label>Associação:</label>
                <div class="field-container ui-cst-textbox" data-password="0" data-widget="false" id="Associacao1"
                     name="Associacao.container">
                  <input class="ui-cst-textbox-input" id="Associacao" style="width: 200px" name="Nif" type="text"
                         disabled="" [(ngModel)]="nomeAssociacao" readonly>
                </div>
              </div>

              <div class="form-field-row quarter-width mandatory-field">
                <label>Modalidade:</label>
                <div class="field-container ui-cst-textbox" data-password="0" data-widget="false" id="Modalidade1"
                     name="Associacao.container">
                  <input class="ui-cst-textbox-input" id="Modalidade" style="width: 200px" name="Nif" type="text"
                         [ngModel]="modalidade" disabled="">
                </div>
              </div>

              <div class="form-field-row quarter-width">
                <label>Divisão:</label>
                <div class="field-container ui-cst-textbox" data-password="0" data-widget="false" id="divisao1"
                     name="divisao.container">
                  <input class="ui-cst-textbox-input" id="divisao" style="width: 200px" name="concelho" type="text"
                         disabled="" [(ngModel)]="divisao" readonly>
                </div>
              </div>

              <div class="form-field-row quarter-width">
                <label>Número de Épocas:</label>
                <div class="field-container ui-cst-textbox" data-password="0" data-widget="false" id="Concelho1"
                     name="Concelho.container">
                  <input class="ui-cst-textbox-input" id="Concelho" style="width: 200px" name="concelho" type="text"
                         disabled="" readonly placeholder="1">
                </div>
              </div>

              <div class="form-field-row quarter-width">
                <label for="Article4RETJ">Inscrição ao abrigo do artigo 4º do RETJ da FIFA</label>


                <div class="field-container ui-cst-checkbox"><input class="ui-cst-checkbox-input"
                                                                    name="Article4RETJ.chk" type="checkbox"><input
                  class="ui-cst-checkbox-value" id="Article4RETJ" name="Article4RETJ" type="hidden" value="false">
                </div>

              </div>


              <div class="form-field-row" style="margin-top:15px;">
                * Campos obrigatórios
              </div>

              <div class="form-buttons-panel" id="wizardButtons">
                <button class="ui-cst-button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                        id="btnCancel" name="btnCancel" type="button" role="button"><span
                  class="ui-button-text" [routerLink]="['/home']">Cancelar</span>
                </button>
                <button class="ui-cst-button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                        id="btnBack" name="btnBack" type="button" role="button"
                        [routerLink]="['/inscricaoProvisoriaClubeJogador']" skipLocationChange><span
                  class="ui-button-text">Anterior</span></button>
                <button class="ui-cst-button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                        id="btnNext" name="btnNext" type="submit"><span
                  class="ui-button-text" [routerLink]="['/inscricaoProvisoriaClubeJogador2']"
                  skipLocationChange>Próximo</span>
                </button>
                <button class="ui-cst-button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                        id="btnKeepPlayer" name="btnKeepPlayer" type="button" role="button"
                        style="display: none;"><span
                  class="ui-button-text">Manter jogador</span></button>
                <button class="ui-cst-button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                        id="btnSubmitForm" name="btnSubmitForm" type="button" role="button"
                        style="display: none;"><span
                  class="ui-button-text">Inserir</span></button>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>

  </div>
</div>
